<!-- The structure for this template is code adapted from https://cs.nyu.edu/~deigen/depth/ -->
<!-- Please site this website if made public -->
<HTML>

    <HEAD>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Physical Layer Data Augmentation Techniques for Face Recognition and Face Emotion Classification Data</title>
        <style>

            body, td, p, div {
                font-family: "Helvetica";
                font-size: 16;
                line-height: 1.25;
            }

            div.listelem {
                font-family: "Helvetica";
                line-height: 1.25;
                padding-top: 2em;
            }
        </style>
    </HEAD>

    <BODY bgcolor="white">
        <center>
            <h2>Physical Layer Data Augmentation Techniques for <br>Face Recognition and Face Emotion Classification Data</h2>
            <br>
            <h3>Ashish Vinodkumar &nbsp;&nbsp;&nbsp;&nbsp;
                Pranav Manjunath &nbsp;&nbsp;&nbsp;&nbsp;
            </h3>
            <h4>
                ashish.vinodkumar<!-- x -->@<!-- -->duke.<!-- h -->edu
                &nbsp;&nbsp;&nbsp;
                pranav.manjunath<!-- x -->@<!-- -->duke.<!-- h -->edu
                &nbsp;&nbsp;&nbsp;
                <br><br><br>
            </h4>
            <p>
            <table border=0 width="25%">
                <tr>
                    <!-- Provide link to your paper below -->
                    <td align="center"><a href="https://github.com/PranavM98/Facial-Detection-and-Emotion-Classifier/blob/main/20_Report/BME548_FinalProject_Paper.pdf"><font size="+1">Paper PDF</font></a>
                </tr>
            </table>
            <!-- Provide link to your "teaser figure - this should summarize your findings at a glace" -->
            <p>
                <img src="https://user-images.githubusercontent.com/26104722/164836570-c45a12ed-8eea-4ae6-83f7-efd0ead6a3f7.png"; height=600px; width=800px>
            <p>
            <table width="80%">
                <tr><td align="left">
                    <p>
                        <br>
We built an application where the user can input an image of a person, and a custom trained VGG-16 Deep Neural Network Model will be able to perform Face Detection and Face Emotion Classification. Specifically, we will be analyzing how downsampling, image masking techniques, and image sharpening techniques, impact model performance with accurately identifying and classifying face emotions into Happy, Sad, and Neutral. The motivation behind this project is to aid on-going research into face detection and emotion classification, but specifically focusing on physical layer augmentation techniques involving masking. With masking, we will control the number of pixels incident on the camera lens. <br><br>

                    <p>
                        <tr><td align="center">
                            <br>
                            <tr><td align="left">
                                Live Demo:
                                <ul>
                                    <li><a href="/home">Flask Web-App Link</a>
                                </ul>
                            <!-- Provide link to your write-up -->
                            <tr><td align="left">
                                Paper:
                                <ul>
                                    <li><a href="https://github.com/PranavM98/Facial-Detection-and-Emotion-Classifier/blob/main/20_Report/BME548_FinalProject_Paper.pdf">Paper PDF</a>
                                </ul>
                                <tr><td align="left">
                                    Code and Data: 
                                    <ul>
                                        <li><a href="https://github.com/PranavM98/Facial-Detection-and-Emotion-Classifier">Github Repo</a>
                                    </ul>
            </table>
                </center>
</BODY>
